.Column2{
    width:50%;
    position:relative; 
    height: 100%; 
    display: inline-block;
    vertical-align: text-top;
}

.columnsButtons{
    width: 100%;
    display: block;
}

.Buttons{
    display: flex;
    margin-right: 1.9rem;
    float: right;
}

.Column1{
    display: inline-block;
    width: 50%;
    vertical-align: text-top;
}